*,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.mt-1 {
  margin-top: 1rem;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 768px) {
  .nav-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .brand-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
  }
}

.navli {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navli {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
  }
}

.list-anchor {
  padding-left: 4rem;
}

.list-anchor:hover {
  padding-left: 4rem;
  color: #037ef3;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1300px) {
  .landing {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .landing .hello,
  .landing .landing-h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .landing .hello,
  .landing .landing-h1 {
    font-size: 3.1rem;
  }
}

@media screen and (min-width: 1400px) {
  .landing .hello,
  .landing .landing-h1 {
    font-size: 4rem;
  }
}

.landing .left {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .landing .left {
    text-align: left;
  }
}

.landing .left .social-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .landing .left .social-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.landing .left .type {
  color: #037ef3;
  font-weight: lighter;
}

.img-home {
  height: 28rem;
  width: 21rem;
  max-width: 95%;
  margin-top: 1rem;
}

@media screen and (min-width: 262px) {
  .img-home {
    height: 20rem;
    width: 15rem;
  }
}

@media screen and (min-width: 768px) {
  .img-home {
    height: 32rem;
    width: 25rem;
  }
}

.btn-view {
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 1.2rem;
  margin-top: 1rem;
  border: none;
  background-color: #0a0724;
  color: #fff;
}

@media screen and (min-width: 1300px) {
  .btn-view {
    padding: 1.1rem 1.9rem 1.1rem 1.9rem;
    border-radius: 2.2rem;
  }
}

.btn-view:hover {
  background-color: #037ef3;
  cursor: pointer;
}

.social-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-ul li {
  padding-right: 1.5rem;
  margin-top: 1rem;
}

.fa-linkedin:hover {
  color: #037ef3;
}

.fa-github:hover {
  color: #037ef3;
}

.fa-twitter:hover {
  color: #037ef3;
}

.version-control {
  height: 22rem;
  width: 22rem;
}

.strategy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .strategy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.strategy .img-stratregy-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .strategy .img-stratregy-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
}

.strategy .strategy-div {
  width: 90%;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .strategy .strategy-div {
    width: 50%;
  }
}

.information-architecture-img {
  height: 22rem;
  width: 22rem;
}

.information-architecture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .information-architecture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.information-architecture .img-information-architecture-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .information-architecture .img-information-architecture-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
}

.information-architecture .information-architecture-div {
  width: 90%;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .information-architecture .information-architecture-div {
    width: 50%;
  }
}

.design {
  height: 22rem;
  width: 27rem;
}

.design-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .design-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.design-div .img-design-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .design-div .img-design-div {
    width: 50%;
    padding-left: 2rem;
  }
}

.design-div .design-div-class {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .design-div .design-div-class {
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.h2-work {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.work-pic {
  height: 22rem;
  width: 22rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .work-pic {
    margin-top: none;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.view-work-btn {
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  width: 100%;
  background-color: #037ef3;
  color: #fff;
  border: none;
  border: 0.2rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.view-work-btn:hover {
  background-color: #0a0724;
  color: #fff;
  cursor: pointer;
}

.work-box-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .work-box-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.work-box-one .work-pic-one {
  border-radius: 0.7rem;
}

.work-box-one .work-pic-two {
  border-radius: 0.7rem;
}

.work-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .work-box-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 2rem;
  }
}

.work-box-two .work-pic-three {
  border-radius: 0.7rem;
}

.work-box-two .work-pic-four {
  border-radius: 0.7rem;
}

.contact-h1 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact-h1 {
    text-align: left;
  }
}

.contact-img {
  height: 22rem;
  width: 22rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 4rem;
  }
}

.left-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .left-contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 830px) {
  .left-contact {
    margin-left: 0;
  }
}

.contact-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start-new-btn {
  margin-top: 1rem;
  padding: 0.5rem 1.1rem;
  border-radius: 2rem;
  border: none;
  background-color: #0a0724;
  color: #fff;
}

.start-new-btn:hover {
  background-color: #037ef3;
  cursor: pointer;
}

.contact-li {
  padding: 1rem;
}
/*# sourceMappingURL=home.css.map */