*,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.mt-1 {
  margin-top: 1rem;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
// Start of Nav Section Style

.nav-div {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    // background-color: red;
  }
}

.brand-logo {
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
  }
}

.navli {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
  }
}

.list-anchor {
  padding-left: 1rem;
}

// Start of home section style

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    // background-color: red;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
}

.img-home {
  height: 32rem;
  width: 27rem;
}

.btn-view {
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 1.2rem;
  margin-top: 1rem;
  border: none;
  background-color: #0a0724;
  color: #fff;
}

.btn-view:hover {
  background-color: #037ef3;
  cursor: pointer;
}

.social-ul {
  display: flex;
  li {
    padding-right: 1rem;
    margin-top: 1rem;
  }
}

// Start of about section

// strategy div

.version-control {
  height: 22rem;
  width: 22rem;
}

.strategy {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: yellow;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
  }
  .img-stratregy-div {
    display: flex;
    justify-content: center;
    width: 90%;
    // background-color: green;
    @media screen and(min-width:768px) {
      display: flex;
      justify-content: center;
      width: 50%;
      //   background-color: grey;
    }
  }
  .strategy-div {
    // background-color: red;
    width: 50%;
    padding-left: 2rem;
  }
}
// end of strategy div

// .information-architecture

.information-architecture-img {
  height: 22rem;
  width: 22rem;
}

.information-architecture {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   background-color: yellow;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    align-items: center;
  }
  .img-information-architecture-div {
    display: flex;
    justify-content: center;
    width: 90%;
    // background-color: green;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      width: 50%;
      //   background-color: gold;
    }
  }
  .information-architecture-div {
    // background-color: blue;
    width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
    @media screen and (min-width: 768px) {
      width: 50%;
      //   background-color: brown;
    }
  }
}

// end of .information-architecture

.design {
  height: 32rem;
  width: 32rem;
}

.design-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   background-color: yellow;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
  }
  .img-design-div {
    display: flex;
    justify-content: center;
    width: 90%;
    // background-color: red;
    @media screen and (min-width: 768px) {
      //   background-color: green;
      width: 50%;
      padding-left: 2rem;
    }
  }
  .design-div-class {
    // background-color: blue;
    width: 90%;
    @media screen and (min-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// Start of work section

.work-pic {
  height: 22rem;
  width: 22rem;
  margin-top: 4rem;
  @media screen and (min-width: 768px) {
    margin-top: none;
  }
}

.h2-work {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.view-work-btn {
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  width: 100%;
  background-color: #037ef3;
  color: #fff;
  border: none;
  border: 0.2rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.view-work-btn:hover {
  background-color: #0a0724;
  color: #fff;
  cursor: pointer;
}
.work-box-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  .work-pic-one {
    border-radius: 0.7rem;
  }

  .work-pic-two {
    border-radius: 0.7rem;
  }
}

.work-box-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .work-pic-three {
    border-radius: 0.7rem;
  }
  .work-pic-four {
    border-radius: 0.7rem;
  }
}

// Start of contact section

.contact-img {
  height: 22rem;
  width: 22rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 4rem;
  }
}

.left-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2rem;
  }
  @media screen and (min-width: 830px) {
    margin-left: 0;
  }
}

.contact-ul {
  display: flex;
}

.start-new-btn {
  margin-top: 1rem;
  padding: 0.5rem 1.1rem;
  border-radius: 2rem;
  border: none;
  background-color: #0a0724;
  color: #fff;
}

.start-new-btn:hover {
  background-color: #037ef3;
  cursor: pointer;
}

.contact-li {
  padding: 1rem;
}
